.app { height: 100%; display: grid; grid-template-columns: 250px minmax(0, 1fr); background: var(--d-925); }
.app.loading { display: block; }
.main { display: grid; grid-template-rows: minmax(0, 1fr) auto auto; min-height: 0; min-width: 0; }
